body {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-style: italic;
}

#mudar {
    font-size: 30px;
}

a {
    text-decoration: none;
    color: black;
}